@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Noto Sans", sans-serif;
}
button {
  outline: none;
  border: none;
  cursor: pointer;
  background-color: transparent;
}
li {
  list-style: none;
}
a {
  font-style: none;
  color: transparent;
}
